body {
}

div.frame {
    width:750px;
    height:920px;
    border: solid;
    border-color:blue;
    margin-left:auto;
    margin-right:auto;
}

div.table {
    display:table;
    border-collapse: separate;
    border-spacing: 10px;
}

div.column {
    display:table-cell;
}

div.row {
    display:table-row;
}

#space {
    height: 20px;
}

div.imageContainer {
    width: 230px;
    height: 150px;
    border: thin solid;
    border-color: black;
}

img.image {
    width: 230px;
    height: 150px;
}

img.image.ui-draggable-dragging { z-index:10 }